= render 'shared/header', header: "I'm searching for..."

= form_tag do
  %fieldset.form-group
    .row
      .col-sm-4
        = text_field_tag :word
  %fieldset.form-group.action
    = submit_tag 'Search'


%div= @hash