= render 'shared/header', header: "Edit '#{@vocabulary.word}'"


= bootstrap_form_for(@vocabulary, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f|
  %div
    = f.text_field :word, label: "Word"
    = f.select :part_of_speech, [["noun"], ["verb"], ["adverb"], ["adjective"], ["preposition"], ["conjunction"]], {label: "Part of Speech"}, {class: "selectpicker"}
    = f.text_field :example, label: "Example"
    = f.select :category_id, options_for_select(collect_categories_array, @vocabulary.category_id), include_blank: " "
  %br
  %div.actions.control-group.col-sm-offset-2
    %input(type="submit" value="Edit" class="btn btn-success")
    = link_to "Cancel", sort_by_created_date_path(current_user)