= link_to "Home", root_path


- if !logged_in?
  |
  = link_to "Register", register_path
  |
  = link_to "Login", login_path
- if logged_in?
  |
  %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.email.downcase)}?s=30")
  = link_to current_user.full_name, user_path(current_user)
  |
  = link_to "Add New Word", new_vocabulary_path
  |
  =link_to "Logout", logout_path